
header {
  .up-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 50px;
  }

  .down-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: $additional-background-color;
    flex-wrap: wrap;
    padding: 13px 50px;
    gap: 1em;
    z-index: 2;

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1em;
    }

    .search {
      display: flex;
      flex-direction: row;
      gap: 2em;
    }
  }
  .burger_icon {
    display: none;
    cursor: pointer;
    max-width: 30px;
    position: relative;
    height: 30px;
    z-index: 200;
    margin-right: 30px;
    span {
      transition: ease-out 300ms;
      height: 5px;
      width: 30px;
      background: $text-color;
      border-radius: 5px;
      display: inline;
      position: absolute;

      &:nth-child(1) {
        width: 20px;
        left: 10px;
        top: 13px;
      }

      &:nth-child(2) {
        width: 13px;
        left: 17px;
        top: 1px;
      }

      &:nth-child(3) {
        left: 0;
        top: 24px;
      }
    }
  }

  .burger_icon_active {
    span {
      transition: ease-out 300ms;
    }

    span:nth-child(1) {
      width: 0 !important;
      transform: rotate(-360deg);
      left: 15px !important;
    }

    span:nth-child(2) {
      width: 30px !important;
      top: 13px !important;
      left: 0 !important;
      transform: rotate(-45deg);
    }

    span:nth-child(3) {
      top: 13px !important;
      transform: rotate(45deg);
    }
  }

  .burger_menu{
    display: none;
  }
  .burger_menu_active{
    backdrop-filter: blur(4px);
    z-index: 2;
    position: fixed;
    padding: 80PX 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.9);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    li {
      a {
        font-family: "Petra Sans", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        position: relative;

        &:after {
          left: 50%;
          position: absolute;
          content: "";
          background: $accent-color;
          display: block;
          height: 4px;
          width: 0;
          border-radius: 2px;
          opacity: 0;
          transition: ease-out 400ms;
        }

        &:hover:after {
          left: 0;
          opacity: 1;
          width: 100%;
          transition: ease-out 400ms;

        }
      }
    }
  }
}