.icon-search{
  background-image: url("../img/icon/search.png");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-basket{
  background: url("../img/icon/basket.png");
  width: 33px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-phone{
  background: url("../img/icon/phone.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-whatsapp{
  background: url("../img/icon/whatsapp.png");
  width: 35px;
  height: 40px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-telegram{
  background: url("../img/icon/telegram.png");
  width: 35px;
  height: 37px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-mail{
  background: url("../img/icon/mail.png");
  width: 35px;
  height: 35px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-kmz{
  background: url("../img/icon/kmz.png");
  width: 135px;
  height: 67px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-sst{
  background: url("../img/icon/sst.png");
  width: 81px;
  height: 81px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
